modules = ["nodejs-20"]
run = "pnpm i && pnpm start"
[agent]
expertMode = true

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 5000
externalPort = 80

[nix]
packages = ["wget", "openssh"]
