<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Zarcotech</title>
    <link rel="stylesheet" href="../style/services.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
      integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <div class="menu">
      <div class="content">
        <button id="home" class="home" onclick="window.location.href = '/'">
          Home
        </button>
        <button
          id="services"
          class="services"
          onclick="window.location.href = '/services'"
        >
          Services
        </button>
        <button
          id="about"
          class="about"
          onclick="window.location.href = '/about'"
        >
          About
        </button>
        <button
          id="contact"
          class="contact"
          onclick="window.location.href = '/contact'"
        >
          Contact
        </button>
        <button
          id="donate"
          class="donate"
          onclick="window.location.href = '/donate'"
        >
          Donate
        </button>
      </div>
    </div>
    <div class="container">
      <img id="servers" src="../images/servers.jpg" width="30vw" />
      <div class="head">
        <h1>Services</h1>
        <br />
        <h2>
          I offer a variety of services to cater to your needs. Whether you're
          looking for web development, web hosting, or Minecraft server hosting,
          I've got you covered. I am dedicated to providing top-notch services
          that help you achieve your goals.
        </h2>
      </div>
      <div class="services-main">
        <div class="web-dev">
          <div class="intro-box">
            <h2>Web Development</h2>
            <p>
              I specialize in creating custom websites tailored to your business
              needs. From responsive designs to seamless user experiences, I
              ensure your website stands out and drives results.
            </p>
          </div>
          <div class="pricing-boxes">
            <div class="pricing-box">
              <h3 style="font-size: 2rem;background: linear-gradient(90deg, gold, purple);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;">Standard</h3>
              <p>Starting at $10/hour</p>
              <p>Includes:</p>
              <ul>
                <li><i class="fa-solid fa-code"></i>Up to 2 Pages</li>
                <br />
                <li><i class="fa-solid fa-database"></i>Basic Design</li>
                <br />
                <li><i class="fa-solid fa-rocket"></i>Responsive Layout</li>
                <br />
                <li><i class="fa-solid fa-user"></i>Contact Form</li>
                <br />
                <li><i class="fa-solid fa-check"></i>Free 1-year support</li>
              </ul>
            </div>
            <div class="pricing-box">
              <h3 style="color: aqua; font-size: 2rem;background: linear-gradient(90deg, pink, aqua);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;">Creative-X</h3>
              <p>Starting at $15/hour</p>
              <p>Includes:</p>
              <ul>
                <li><i class="fa-solid fa-code"></i> Up to 5 Pages</li><br>  
                <li><i class="fa-solid fa-database"></i> Custom Design</li><br>
                <li><i class="fa-solid fa-rocket"></i> Responsive Layout</li><br>
                <li><i class="fa-solid fa-user"></i> Contact Form</li><br>
                <li>
                  <i class="fa-solid fa-check"></i> Free 2-year
                  support/maintenance
                </li>
              </ul>
            </div>
            <div class="pricing-box">
              <h3
                style="
                  background: linear-gradient(90deg, #09ff00, #00d0ff);
                  -webkit-background-clip: text;
                  -webkit-text-fill-color: transparent;
                  font-size: 2rem;
                "
              >
                Premium
              </h3>
              <p>Starting at $25/hour</p>
              <p>Includes:</p>
              <ul>
                <li><i class="fa-solid fa-code"></i>Up to 10 Pages</li>
                <br />
                <li><i class="fa-solid fa-database"></i>Custom Design</li>
                <br />
                <li><i class="fa-solid fa-rocket"></i>Responsive Layout</li>
                <br />
                <li><i class="fa-solid fa-user"></i>Contact Form</li>
                <br />
                <li><i class="fa-solid fa-check"></i>Free 2-year free support/maintainence</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="../script/services.js"></script>
  </body>
</html>
