<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Zarcotech</title>
    <link rel="stylesheet" href="../style/services.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
      integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <div class="hotbar"></div>
    <div class="menu">
        <div class="content">
            <button id="home" class="home" onclick="window.location.href = '/'">Home</button>
            <button id="services" class="services" onclick="window.location.href = '/services'">Services</button>
            <button id="about" class="about" onclick="window.location.href = '/about'">About</button>
            <button id="contact" class="contact" onclick="window.location.href = '/contact'">Contact</button>
            <button id="donate" class="donate" onclick="window.location.href = '/donate'">Donate</button>
        </div>
    </div>
    <div class="container">
        <img id="background" src="../images/servers.jpg" width="30vw">
        <div class="head">
            <h1>Services</h1>
            <h2>
                I offer a variety of services to cater to your needs. Whether you're looking for web development, web hosting, or Minecraft server hosting, I've got you covered. I am dedicated to providing top-notch services that help you achieve your goals.
            </h2>
        </div>
        <div class="services-main">
            <div class="web-dev">
                <h3>Web Development</h3>
                <p>I specialize in creating custom websites tailored to your business needs. From responsive designs to seamless user experiences, I ensure your website stands out and drives results.</p>
            </div>
        </div>
    </div>
    <script src="../script/services.js"></script>
  </body>
</html>
